<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Please fill in the form bellow to entry!</p>
    <form method='post' encrypt='multipart/form-data'>
      <table>
        <tr>
          <td>Title:</td>
          <td>
            <select name="Title">
              <option value="" >[please select]</option>
              <option value="Ms.">Ms.</option>
              <option value="Mr.">Mr.</option>
              <option value="Dr.">Dr.</option>
              <option value="Prof.">Prof.</option>
              <option value="Prof. Dr.">Prof. Dr.</option>
              <option value="Prof. Dr. Dr.">Prof. Dr. Dr.</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>First Name:</td>
          <td><input type='text', name='firstname', placeholder='First Name'/></td>
        </tr>
        <tr>
          <td>Last Name:</td>
          <td><input type='text', name='lastname', placeholder='Last Name'/></td>
        </tr>
        <tr>
          <td>Email:</td>
          <td><input type='text', name='email', placeholder='Email'/></td>
        </tr>
        <tr>
          <td>Organization:</td>
          <td><input type='text', name='organization', placeholder='Organization'/></td>
        </tr>
        <tr>
          <td></td>
          <td><input type='submit' value='Submit'/></td>
        </tr>
      </table>

    </form>
    <p>If you have any questions, please contact <a href="mailto:hpccon15@ura3.c.ism.ac.jp">local office</a>.</p>
  </body>
</html>
